@model AdamPersonalCapstone.Models.Customer

@{
    ViewBag.Title = "DeviceProfile";
}

<h1 style="color:deepskyblue; text-align:center">DeviceProfile</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.devices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devices)
        </dd>

    </dl>
</div>
<p>
    <a class="badge" style="color: deepskyblue"@Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId })></a>
    <a class="badge" style="color: deepskyblue"@Html.ActionLink("Back to List", "Index")></a>
</p>
