@model IEnumerable<AdamPersonalCapstone.Models.Customer>


@{
    ViewBag.Title = "OwnedDevices";
}

<h2>OwnedDevices</h2>

<p>
    <a class="badge" style="color: deepskyblue" @Html.ActionLink("Create New Ticket", "Create", "Ticket")></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.devices)
        </th>
        <td>

        </td>
        <th>
            @Html.DisplayNameFor(model => model.PersonalDevices)
        </th>
        <td>
        </td>
        <th></th>
    </tr>


    <tr>
        <td>
        </td>
    </tr>


</table>
