@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Content/Image/nhn.png" />
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:contact@neighborhoodnerd.biz">Contact@neighborhoodnerd.biz</a><br />
    <strong>Dev/Owner:</strong> <a href="mailto:adam.milbrath@neighborhoodnerd.biz">Adam.milbrath@neighborhoodnerd.biz</a>
</address>